.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.todo {
    margin-bottom: 1rem;

}
.todo.completed span {
    text-decoration: line-through red;
}
.todo div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f3f3f3;
}
.todo label {
    display: flex;
    gap: 40px;
}
.todo i {
    z-index: 2;
}